/The_Crux.3dshapes/LED_SK6812MINI-E_PLCC4_3.2x2.8mm_P1.5mm.step
/The_Crux.3dshapes/SW_GATERON_LowProfileMagneticJadePro.step
/The_Crux.3dshapes/SW_GATERON_LowProfileMagneticJade.step
/*-backups/
/*.bak
/*.kicad_*-bak
/*.kicad_prl
/#auto_saved_files#
/_autosave-*.kicad_*
/fp-info-cache
/~*.kicad_*.lck
