/The_Crux.3dshapes/SW_GATERON_LowProfileMagneticJadePro.step
/The_Crux.3dshapes/SW_GATERON_LowProfileMagneticJade.step
/*-backups/
/*.bak
/*.kicad_*-bak
/*.kicad_prl
/#auto_saved_files#
/_autosave-*.kicad_*
/fp-info-cache
/~*.kicad_*.lck
